/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: black;
}

#wapper {
	width: 1348px;
	margin: 0px auto;
	background-color: #ffffff;
	box-sizing: border-box;
}

.category-big {
	width: 1348px;
	background-color: #000000;
}

.category {
	width: 1061px;
	background-color: #000000;
	display: flex;
	justify-content: space-between;
	margin-left: 155px;
}

.address ul {
	display: flex;
	box-sizing: border-box;

}

.address ul li {
	display: flex;
}

.address ul li img {
	margin: 7px 15px 7px 0px;
}

.address ul li p {
	margin: 15px 42px 12px 0px;
	color: #ffffff;
	font-size: 10px;
}

.info ul {
	display: flex;
	padding: 11px 0px 13px 0px;
	margin-left: 197px;
}

.info ul a {
	text-decoration: none;
	color: #ffffff;
	font-size: 9px;
}

.info ul li img {
	vertical-align: bottom;
}

.info ul li {
	border-left: 2px solid #ffffff;
	padding-left: 15px;
	padding-right: 13px;
}

#container {
	background-color: #ffffff;
	border-bottom: 3px solid #000000 ;
}

.container-nav {
	width: 1061px;
	margin: 0px auto;
}

header {
	display: flex;
	padding: 25px 0px 0px 0px;
	box-sizing: border-box;
}

form {
	box-sizing: border-box;
	position: relative;
	margin-right: 202px;
	margin-top: 9px;
}

header a img {
	margin-right: 173px;
	display: inline-block;
}

.keyword {
	width: 275px;
	outline: 0;
	border: 1px solid #cccccc;
	color: #cccccc;
	background: transparent;
	padding: 9px 0px 9px 7px;
}

.search {
	width: 29px;
	background: url(images/Search.png) no-repeat right;
	outline: 0;
	top: 8px;
	border: none;
	border-left: 1px solid #cccccc;
	padding-left: 7px;
	position: absolute;
	right: 7px;
}

.buy {
	background-image: linear-gradient(#f4f4f4, #e1e1e1);
	padding: 6px 31px 6px 6px;
	display: flex;
	width: 130px;
	margin-bottom: 31px;
	box-sizing: border-box;
	margin-top: 7px;
}

.buy-info {
	margin-left: 10px;
}

.info {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	color: #666666;
	margin-bottom: 5px;
}

.number-info {
	color: #9e9e9e;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8.25px;
}

.nav {
	box-sizing: border-box;

}

.menu {
	width: 1061px;
	display: flex;
	border-top: 2px solid #000000;
	background-color: #e9e9e9;
	box-sizing: border-box;
}

.first {
	width: 220px;
	display: flex;
	background-color: #000000;
	color: #ffffff;
	margin-top: -1px;
}

.first h2 {
	margin-top: 13px;
	color: #ffffff;
	font-size: 12px;
}

a {
	text-decoration: none;
}

.other h2 {
	color: #fa3a3a;
	padding: 14px 55px 0px 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
	background: url(images/hot.png) no-repeat top 4px right 27px;
}

.other {
	border-left: 2px solid #9e9e9e;
}

.others h2 {
	color: #1d1d1d;
	padding: 14px 45px 0px 47px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9px;
}

.others {
	border-left: 2px solid #9e9e9e;
}

.list {
	width: 1061px;
	height: 320px;
	box-sizing: border-box;
	display: flex;
}

.menu-list-first {
	width: 220px;
	background-color: #f3f3f3;
}

.menu-list-first a li {
	display: flex;
	border: 1px solid #dfdfdf;
	padding: 6px 0px 6px 12px;
	box-sizing: border-box;
}

.menu-list-first a li h2 {
	font-size: 9px;
	color: #000000;
	margin-top: 7px;
	font-weight: bold;
	width: 159px;
	margin-left: 8px;
}

.image-nav {
	width: 827px;
	display: flex;
}

.image-nav img {
	border: 1px solid #dfdfdf;
}

.picture {
	margin: 10px 10px 0px 10px;
}

.images-nav img {
	margin-top: 10px;
}

.banner {
	width: 1061px;
	display: flex;
	justify-content: space-between;
	padding: 10px 0px;
}

.menu-list {
	width: 221px;
	border: 1px solid #dfdfdf;
	margin-bottom: 10px;
}

h3 {
	background-color: #eaeaea;
	padding: 10px 0px 10px 13px;
	font-size: 11px;
	border-bottom: 3px solid #000000;
}

.menu-list li {
	display: flex;
	padding: 0px 18px 0px 9px;

}

.product {
	width: 82px;

}

.product img {
	max-width: 100%;
}

.bill {
	width: 132px;
	margin-left: 9px;
}

.star {
	display: block;
	margin: 10px 0px;
}

h6 {
	font-size: 11.75px;
	line-height: 13px;
}

.price {
	color: #ed5456;
}

.menu-list ul {
	margin-top: 21px;
}

.menu-list ul li {
	margin-bottom: 50px;
}

.menu-list ul li :first-child {
	margin-bottom: 0px;
}

.menu-list-big {
	width: 221px;
	box-sizing: border-box;
}

.trademark {
	width: 221px;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.trademark-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 28px 12px 0px 12px;
}

.market-information {
	border: 1px solid #cccccc;
	box-sizing: border-box;
	width: 221px;
}

.market-information-son {
	margin-left: 7px;
	box-sizing: border-box;
	margin-top: 7px;
}

.market-information-son a span {
	font-size: 11.75px;
	padding-right: 12px;
	color: #d6d6d6;
	margin-right: 7px;
}

.mi-other {
	width: 195px;
	box-sizing: border-box;
}

.market-information-son-other {
	border-right: 2px solid #d6d6d6;
	width: 110px;
}

.market-information-son p {
	margin-bottom: 10px;
}

.MI-other {
	margin-top: 10px;
	color: #666666;
	font-size: 13px;
}

.MI-others {
	width: 56px;
	font-size: 14px;
	color: #990000;
	margin-left: 152px;
	display: inline-block;
	margin-top: 12px;
}

.market-information-son ul li {
	width: 206px;
	background: url(images/cham.png) no-repeat left top 14px;
	font-size: 13px;
	border-top: 1px dashed #a7a7a7;
	box-sizing: border-box;
	padding: 11px 0px 11px 17px;

}

.info-other {
	color: #333333;
}

.info-others {
	color: #a0a0a0;
}

.Social-Network {
	width: 221px;
	box-sizing: border-box;
	border: 1px solid #a7a7a7;
	margin-top: 20px;
	padding: 8px 6px 0px 6px;
}

.facebook-network {
	width: 206px;
	box-sizing: border-box;
	display: flex;
	padding-bottom: 10px;
	border-bottom: 1px solid #a7a7a7;
}

.facebook {
	width: 79px;
	margin-right: 81px;
}

.facebook h4 {
	font-size: 12px;
	color: #4b81bf;
}

.facebook img {
	margin-top: 6px;
}

.facebook-info {
	display: flex;
	width: 206px;
	font-size: 10px;
	padding: 7px 0px 10px 0px;
	box-sizing: border-box;
}

.facebook-info a span {
	margin-left: 4px;
	color: #4b81bf;
}

.facebook-img {
	width: 206px;
	padding-bottom: 10px;
	border-bottom: 1px solid #a7a7a7;
	box-sizing: border-box;
}

.facebook-last {
	padding: 4px 0px 11px 5px;

}

.facebook-last span {
	font-size: 9px;
	vertical-align: middle;
	color: #c4c0c2;
}

.facebook-last img {
	vertical-align: bottom;
}

.img-last {
	margin-top: 6px;
}

.big {
	display: flex;
	padding-bottom: 36px;
}

.menu-list-info {
	width: 829px;
	box-sizing: border-box;
	margin-left: 12px;
}

.banner-menu {
	background-color: #e9e9e9;
	border-bottom: 2px solid #000000;
}

.banner-menu h1 {
	width: 175px;
	background-color: #000000;
	color: #ffffff;
	padding: 5px 5px 8px 15px;
}

.menu-list-buy ul {
	display: flex;
	border-left: 1px solid #a7a7a7;
}

.menu-list-buy li {
	width: 206px;
	border-top: 1px solid #a7a7a7;
	border-right: 1px solid #a7a7a7;
	border-bottom: 1px solid #a7a7a7;
}

.img-buy {
	margin: 21px 47px 19px 39px;
}

h5 {
	width: 164px;
	font-size: 12px;
	margin-left: 26px;
}

.menu-list-buy li .star {
	display: flex;
	margin-left: 66px;
}

.menu-list-buy p {
	font-size: 12px;
	display: inline-block;
	margin-left: 37px;
	margin-bottom: 15px;
}

.menu-list-buy span {
	font-size: 12px;
	color: #d87878;

}

.menu-list-info-second {
	margin-top: 10px;
}

.menu-list-info-second .banner-menu  {
	display: flex;
	justify-content: space-between;
}
.menu-list-info-second .banner-menu a {
	font-size: 10px;
	padding: 11px 8px 0px 0px;
	color: #a2a2a2;
}
.menu-list-info-second .banner-menu a p {
	padding-right: 14px;
	background: url(images/muiten.png) no-repeat right -1px;
}
.img-second {
	width: 829px;
	display: flex;
	margin-bottom: 10px;
}
.img-other {
	margin-right: 10px;
}
.footer {
	width: 1347px;
	padding-top: 18px;
}
.footer-son {
	width: 1061px;
	margin: 0px auto;
	box-sizing: border-box;
}
.footer-son ul {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}
.footer-son ul li h2 {
	width: 258px;
	background-color: #ed1b24;
	color: #ffffff;
	padding: 10px 0px 12px 47px;
	font-size: 14px;
	box-sizing: border-box;
}
.footer-son ul li {
	box-sizing: border-box;
}
.son-first li {
	font-size: 13px;
	margin-bottom: 13px;
	margin-left: 21px;
	color: #a1a1a1;
}
.son-first {
	margin-top: 24px;
}
.son-second {
	font-size: 13px;
	color: #a1a1a1;
	margin-top: 20px;
}
.son-second li {
	width: 236px;
	display: flex;
	box-sizing: border-box;
	margin-bottom: 15px;
}
.son-second li p {
	margin-top: 5px;
	margin-left: 14px;
}